.teams {
    padding-bottom: 10px;
    font-size: 60px;
    background-color: #394050;
    color: azure;
}

.TeamContainer {
    background-color: #394050;
    text-align: center;
    color: azure;
}

.record {
    font-size: 20px;
}

.team_1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
}

.team_1_wrapper {
    font-size: 30px;
    padding-bottom: 20px;
}

.player_name {
    display: flex;
    flex: 1;
    flex-direction: column;
    order: 2;
    font-size: 25px;
}

.role {
    color: slategray;
    font-size: 15px;
}